{% extends "base.html" %}

{% block content %}
    <div class="max-w-6xl mx-auto mt-10 p-6 bg-[#fdf1e2] rounded shadow">
        <h1 class="text-2xl font-bold text-[#843900] mb-6">Seleccionar prendas en HotSale</h1>

        <!-- Formulario de filtros -->
        <form method="get" class="mb-6">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-end">
                <input type="text" name="q" value="{{ q }}" placeholder="Buscar por nombre..."
                    class="border p-2 rounded w-full">
                <input type="text" name="tela" value="{{ tela }}" placeholder="Buscar por tela..."
                    class="border p-2 rounded w-full">
                <select name="en_hotsale" class="border p-2 rounded w-full">
                    <option value="">Están en HotSale</option>
                    <option value="si" {% if en_hotsale %}selected{% endif %}>Sí</option>
                    <option value="no" {% if en_hotsale %}selected{% endif %}>No</option>
                </select>
                <button type="submit" class="bg-[#843900] text-white px-4 py-2 rounded hover:bg-orange-700 w-full">
                    Aplicar filtros
                </button>
            </div>
        </form>

        <!-- Formulario de selección -->
        <form method="post">
            {% csrf_token %}
            <div class="mt-6 flex justify-center">
                <button type="submit" class="bg-[#843900] text-white px-6 py-2 rounded hover:bg-orange-700">
                    Guardar cambios
                </button>
            </div>

            <br><br>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                {% for prenda in prendas %}
                <label class="rounded-lg shadow p-4 transform transition duration-300 hover:-translate-y-2 hover:shadow-xl cursor-pointer block relative bg-white">

                    <input type="checkbox" name="es_hotsale" value="{{ prenda.id_prenda }}" 
                        {% if prenda.es_hotsale %}checked{% endif %} class="absolute top-3 left-3 scale-150 accent-[#843900] z-10">

                    <div class="overflow-hidden rounded mt-6">
                        <img src="{{ prenda.imagenes.first.img_url }}" alt="{{ prenda.nombre }}"
                            class="w-full h-[350px] object-cover transition-transform duration-300 hover:scale-105 rounded">
                    </div>
                    <div class="mt-3">
                        <h3 class="text-lg font-semibold">{{ prenda.nombre }}</h3>
                        <p class="text-sm text-gray-600">{{ prenda.tela }}</p>
                        <p class="text-md font-bold text-[#843900]">${{ prenda.precio }}</p>
                    </div>
                </label>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}