{% extends "base.html" %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">
        <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
            <h1 class="text-2xl font-bold text-center mb-6 text-[#843900]">Crear cuenta</h1>

            <form method="post">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="first_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="first_name" id="first_name" required class="w-full p-2 border rounded"
                        placeholder="Tu nombre">
                </div>

                <div class="mb-4">
                    <label for="last_name" class="block text-gray-700">Apellido</label>
                    <input type="text" name="last_name" id="last_name" required class="w-full p-2 border rounded"
                        placeholder="Tu apellido">
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-gray-700">Correo electrónico</label>
                    <input type="email" name="email" id="email" required class="w-full p-2 border rounded"
                        placeholder="ejemplo@correo.com">
                </div>

                <div class="mb-4">
                    <label for="password1" class="block text-gray-700">Contraseña</label>
                    <input type="password" name="password1" id="password1" required class="w-full p-2 border rounded">
                </div>

                <div class="mb-6">
                    <label for="password2" class="block text-gray-700">Confirmar contraseña</label>
                    <input type="password" name="password2" id="password2" required class="w-full p-2 border rounded">
                </div>

                {% if form.errors %}
                <ul class="text-red-600 text-sm mb-4">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}

                <button type="submit"
                    class="w-full bg-[#fdf1e2] text-[#843900] border border-[#843900] py-2 rounded hover:bg-orange-200 transition">
                    Registrarse
                </button>
            </form>

            <p class="text-sm text-center mt-4 text-gray-600">
                ¿Ya tienes cuenta?
                <a href="{% url 'inicio_sesion' %}" class="text-orange-600 hover:underline">Inicia sesión</a>
            </p>
        </div>
    </div>
{% endblock %}